@font-face {
    font-family: bgrotesque;
    src: url(../src/assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

@import "tailwindcss";

@theme {
    
    --color-jade: #a7b3a5;
    --color-cream: #f5f5f0;
    --color-orange: #e1783e;

    --font-bgrotesque: bgrotesque, sans-serif;
}

html {
    scroll-behavior: smooth;
}
